<div class="f-info">
    <div class="f-info-socials">
        <a href="https://www.facebook.com/atharvabhakre" target="_blank"><i class="fa-brands fa-square-facebook" style="color: black;"></i></a>
        <a href="https://www.instagram.com/atharvabhakre?igsh=MWd4emVtY2hkZjNybA==" target="_blank"><i class="fa-brands fa-square-instagram" style="color: black;"></i></a>
        <a href="https://www.linkedin.com/in/atharva-bhakre-64871b2ba/" target="_blank"><i class="fa-brands fa-linkedin" style="color: black;"></i></a>
    </div>
    <div class="f-info-brand">&copy;AtharvaBhakre Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
    